.table-heading {
    border-collapse: collapse;
    width: 100%;
  }
  h1{
    text-align: center;
    color: #36584c;
  }
  
  .table-heading td {
    border: 1px solid rgba(0, 112, 112, 0.89);
    padding: 8px;
  }
  
  
 .table-heading tr:hover {background-color: #ddd;}
  
 .table-heading th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2c89a5;
    color: white;
  }
